<div class="users__container">
  <header class="section__header">
    <h2 class="section__title">Trips</h2>
    <div class="section__control">
     
      <button
        class="section__button section__button--painted focus--box-shadow"
        type="button"
        aria-label="Add New User"
        (click)="openDialog()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          role="presentation"
        >
          <path
            d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"
          />
        </svg>
      </button>
    </div>
  </header>
  <mat-divider class="divider"></mat-divider>
  <table class="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container  matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td  mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-chip-list aria-label="User Roles">
              <mat-chip class="chip" *ngFor="let role of element.roles" >{{role}}</mat-chip>
            </mat-chip-list>
          </td>
      </ng-container>

      <ng-container matColumnDef="requests">
          <th class="request_cell" matRipple mat-header-cell *matHeaderCellDef>User Requests</th>
          <td class="request_cell" matRipple mat-cell *matCellDef="let element">
            <a class="east" routerLink="../user-details/{{element.id}}">
              <span>Manage users</span><mat-icon class="icon">east</mat-icon>
            </a>
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div class="trips__paginator">
      <mat-paginator
      class="paginator"
      [length]="totalCount"
      [pageIndex]="page"
      [pageSize]="size"
      [pageSizeOptions]="[5,10,20]"
      (page)="loadUsers($event)">
      </mat-paginator>
  </div>
</div>
